.digilist {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 15 px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.digimon-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
  flex: 1 1 auto;
  margin: 10px 10px;
  border-radius: 15px;
  padding: 10px;
}